/* app.css */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SFP", sans-serif;
  color: #101010;
  outline: 0;
  font-size: 14px;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
} */

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay h1 {
  position: relative;
  display: inline-block;
  text-align: center;
}

.video {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.header {
  background-color: transparent;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer h4 {
  font-size: 20px; /* Increased font size */
  font-weight: bold; /* Added font weight */
  margin-bottom: 15px; /* Increased margin */
  color: #fff; /* Set color to white */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 1px; /* Added letter spacing */
}

/* Centering everything under h4 tags */
.footer .col-md-4 {
  text-align: center;
}

/* Updated styles for NavLink */
.footer a {
  color: #fff;
  text-decoration: none;
  display: block; /* Ensure each NavLink is displayed on a new line */
}

.footer a:hover {
  text-decoration: underline;
}

/* Social media icons */
.footer .col-md-4:last-child a {
  align-items: center;
}

.footer .col-md-4:last-child a:not(:last-child) {
  margin-right: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
  @media (min-aspect-ratio: 16/9) {
    .video {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .video {
      width: auto;
      height: 100%;
    }
  }

  .footer .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
