* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff;
}
.header {
  display: flex;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  letter-spacing: 3px;
  z-index: 1;
}
.header .nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 1.5rem;
  transition: color 0.3s;
  text-transform: uppercase;
}
.header .nav a:hover {
  color: #f92d2d;
}
.redbutton {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #f92d2d;
  letter-spacing: 3px;
  border: none;
  line-height: 0px;
  transition: background 0.3s;
}
.redbutton:hover {
  background: #fff;
  border: solid thin red;
}
video {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}
.overlay {
  padding: 13vw 6vw;
  background-color: transparent;
  z-index: 1;
  width: 100%;
}
.title {
  font-size: 50px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 4px;
  width: 100%;
}
.footer {
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-center;
  background-color: rgba(0, 0, 0, 0.3);
}
.footer h4 {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer .col-md-4 {
  text-align: center;
  list-style: none;
}
.footer a {
  color: #fff;
  text-decoration: none;
  display: inline;
  font-weight: bold;
}
.footer a:hover {
  color: #f92d2d;
}
.row {
  width: 100%;
}
.apart-body-index {
  background-color: grey;
  padding-top: 75px;
  padding-bottom: 0 px;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
}
.flex-apart-index {
  padding: 2% 10% 10% ;
  width: 100%;
  display: inline-flexbox;
}
.apart-card-index {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(5.1, 5.1, 5.1, 5.1);
}
.apartment-picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.apart-text-index {
  margin-top: 5px;
  font-size: 24px;
  font-weight: bold;
  color: grey;
}
.apart-button-index {
  margin-top: 20px;
  margin-bottom: 1px;
}
b {
  color:grey;
}