/* app.css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'SFP', sans-serif;
	color: #101010;
    outline: 0;
    font-size: 14px;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
.overlay {
  position: absolute;
}

.video {
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  }


.header {
 background-color: transparent;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer h4 {
  font-size: 20px; /* Increased font size */
  font-weight: bold; /* Added font weight */
  margin-bottom: 15px; /* Increased margin */
  color: #fff; /* Set color to white */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 1px; /* Added letter spacing */
}

/* Centering everything under h4 tags */
.footer .col-md-4 {
  text-align: center;
}

/* Updated styles for NavLink */
.footer a {
  color: #fff;
  text-decoration: none;
  display: block; /* Ensure each NavLink is displayed on a new line */
}

.footer a:hover {
  text-decoration: underline;
}

/* Social media icons */
.footer .col-md-4:last-child a {
  align-items: center;
}

.footer .col-md-4:last-child a:not(:last-child) {
  margin-right: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }

  .footer .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
